.container_mS {
    width: 99.8%;
    height: 50rem;
    margin-top: 1rem;
    /* margin-left: 0.5%; */
    border: 2px solid white;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    background-image: url(../Image/wasteLand1.PNG);
}

.container_mS>.box1 {
    width: 25%;
    height: 50%;
    opacity: 0.6;
    display: flex;
    flex-direction: column;
    margin-top: 7%;
    margin-left: 9rem;
    align-items: center;
    border-radius: 0rem 4rem;
    /* border: 2px solid yellow; */
    background-color: #17be07;
}

.container_mS>.box1>h1 {
    color: rgb(255, 255, 255);
    margin-top: 20%;
    font-size: 1.8rem;
    font-family: cursive;
}

.container_mS>.box1>h2 {
    color: white;
    margin-left: 20%;
    font-size: 1.4rem;
    /* border: 2px solid red; */
    font-family: cursive;
}

.container_mS>.buttons {
    width: 55%;
    height: 10%;
    display: flex;
    flex-direction: row;
    margin-top: 7rem;
    margin-left: 43%;
    align-items: center;
    /* justify-content: center; */
    /* border: 2px solid red; */
}

.container_mS>.buttons>.buttons_center {
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* border: 2px solid green; */
}

.container_mS>.buttons>.buttons_center>button {
    color: white;
    width: 8rem;
    height: 3rem;
    margin: 10% 3%;
    border-radius: 2rem;
    background-color: rgb(23, 190, 7);
}

.container_mS>.buttons>#surveyButton {
    color: rgb(23, 190, 7);
    width: 8rem;
    height: 3rem;
    /* margin: 10% 3%; */
    margin-left: 40%;
    border-radius: 2rem;
    background-color: white;
}